@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de recuperación de contraseña";
    Layout = null; // Quitamos el layout principal
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogisticaBroker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="~/css/login-style.css" />
</head>
<body>
    <section class="user">
        <div class="user_form-container">
            <h2 class="forms_title">Revisa tu Correo</h2>
            <p class="auth-text">
                Si existe una cuenta con el correo proporcionado, te hemos enviado un email con las instrucciones para restablecer tu contraseña.
            </p>
            <div class="forms_buttons-bottom-link">
                <a asp-page="./Login">Volver a Login</a>
            </div>
        </div>
    </section>
</body>
</html>