@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null; // Quitamos el layout principal
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogisticaBroker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" href="~/css/login-style.css" />
</head>
<body>
    <section class="user">
        <div class="user_form-container">
            <h2 class="forms_title">Recuperar Contraseña</h2>
            <p class="auth-text">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
            
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <fieldset class="forms_fieldset">
                    <div class="forms_field">
                        <input asp-for="Input.Email" class="forms_field-input" autocomplete="username" aria-required="true" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </fieldset>
                <div class="forms_buttons">
                     <button type="submit" class="forms_buttons-action">Enviar Enlace</button>
                </div>
                 <div class="forms_buttons-bottom-link">
                    <a asp-page="./Login">Volver a Login</a>
                </div>
            </form>
        </div>
    </section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>